<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 定義存放 Log 的目錄與檔案名稱格式 -->
	<!-- basedir在NLog裡代表著應用程式的根目錄 -->
	<targets>
		<target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMMdd}/Info.log"
        layout="${date:format=yyyyMMdd} ${level} ${message}" />
		<target name="errorfile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyyMMdd}/Error.log"
		layout="${date:format=yyyyMMdd} ${level} ${message}" />
	</targets>

	<!-- 規則：將 Info 記錄存入 Info.log，Error 記錄存入 Error.log -->
	<!-- minlevel:設定最低的日誌級別，記錄該級別及以上的所有日誌
	     maxlevel:設定最高的日誌級別，記錄該級別及以下的所有日誌-->
	<rules>
		<logger name="*" levels="Info" writeTo="logfile" />
		<logger name="*" levels="Error" writeTo="errorfile" />
	</rules>
  
</nlog>
